 .kutu{
        width:150px;
        height:150px;
        margin:10px;
        border:2px black;
        text-align:center;
        line-height: 100px;
        font-weight: bold;
    }
    #kutu{
background-color: blue;

    }